@import "bootstrap";
@import "bootstrap-select";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&family=Work+Sans:wght@400&family=Inter:wght@300&display=swap");

html {
    position: relative;
    min-height: 100%;
}

body {
    --light-green: #4dc1a6;
    --lighter-green: #87e7d0;
    --lightest-green: #cbfff3;
    --dark-green: #02a781;
    --darker-green: #338c77;
    --darkest-green: #174439;
    --dark-white: #f6f6f6;
    --dark-gray: #555;
    --table-borders: 1px solid #dee2e6;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: var(--dark-gray);
}

.container-lg {
    padding-right: 8px;
    padding-left: 25px;
}

.navbar {
    margin-right: 51px;
}

.navbar-brand {
    font-size: 2em;
}

.navbar-light .navbar-brand:hover {
    color: var(--light-green);
}

.navbar-light .navbar-brand {
    color: var(--dark-gray);
}

a {
    color: var(--dark-gray);
}

a:hover {
    color: var(--light-green);
    text-decoration: none;
}

a#dropdownMenuButton {
    color: var(--dark-gray);
}

a#dropdownMenuButton:hover {
    color: var(--light-green);
}

.dropdown-item {
    color: var(--dark-gray);
}

.dropdown-item:hover {
    color: #000;
    background-color: #ccede5;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--dark-green);
}

.dropdown-menu a {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > .dropdown-submenu-container:hover > .dropdown-submenu {
    display: block;
}

.form-control .selectpicker {
    height: 30px;
}

.btn-period {
    color: #bbb;
    border-color: #bbb;
}

.btn-period:hover {
    color: #fff;
    background-color: var(--light-green);
    border-color: #fff;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.065);
}

.table-bordered tr th,
.table-bordered tr td {
    border-right: var(--table-borders);
    border-bottom: var(--table-borders);
    border-top-style: hidden;
    border-left-style: hidden;
    padding: var(--vs-padding, "0.75rem");
}

.table-bordered {
    border-style: none;
    color: var(--dark-gray);
}

.table-header {
    // these are separated so that margin-right can be changed back and forth via js
    margin-top: 0;
    margin-right: 51px;
    margin-bottom: 0.25rem;
    margin-left: 0;

    &__buttons > div:not(:first-child) {
        padding-left: 0.25rem;
    }
}

th.current-balance-label-cell {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    color: var(--dark-gray);
}

#currentBalance {
    cursor: pointer;

    &:hover {
        color: var(--dark-green);
    }
}

#currentBalanceCell {
    max-width: 155px;
}

#currentBalanceCell input {
    background-color: var(--lightest-green);
    color: var(--darker-green);
    font-size: 1.5rem;
    text-align: right;
    width: calc(100% - 30px);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

th input {
    width: 120px;
}

th.top-row-cells {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.table-bordered thead th.top-row-cells,
.table-bordered thead th.current-balance-label-cell {
    border-bottom-width: 0;
    border-right-width: 0;
}

.table-bordered thead th#currentBalanceCell {
    border-bottom-width: 0;
    border-left: var(--table-borders);
    border-top: var(--table-borders);
}

.table-bordered thead tr.header-row th {
    border-bottom-width: 1px;
    border-top: var(--table-borders);
}

.table-bordered thead tr.header-row th:first-child {
    border-left: var(--table-borders);
}

.table-striped tbody tr.new-entry-row {
    background-color: #fff;
}

.table-bordered tr.new-entry-row td:first-child {
    border-left-width: 1px;
}

.table-bordered tr td.date-col {
    border-left: var(--table-borders);
}

.table-bordered tr th.freq-col {
    width: 145px;
}

.table-bordered tr th.amt-col {
    width: 145px;
}

.table-bordered tr th.bal-col {
    width: 145px;
}

.header-row {
    background-color: #f2f2f2;
    font-size: 0.9rem;
}

.table-bordered thead tr.header-row th:first-child {
    border-top-left-radius: 0.4rem;
}

.table-bordered tbody.entries-table tr:last-child td:first-child {
    border-bottom-left-radius: 0.4rem;
}

.table-bordered tbody.entries-table tr:last-child td:nth-last-child(2) {
    border-bottom-right-radius: 0.4rem;
}

.table-bordered tr td.entry-actions-cell {
    border-right-style: hidden;
    border-bottom-style: hidden;
    padding-right: 0;
}

td.entry-actions-cell {
    background-color: #fff;
    width: 51px;
}

td.entry-actions-cell i {
    cursor: pointer;
}

#currentBalSaveIcon {
    cursor: pointer;
    font-size: 1rem;
}

.date-col {
    width: 165px;
}

// entry date input field
#entry_date {
    cursor: text;
    width: 135px;
    height: 30px;
}

#entry_description {
    width: 100%;
    height: 30px;
}

#entry_frequency {
    cursor: pointer;
    font-size: 0.9rem;
    height: 30px;
    padding: 0.2rem !important;
    width: 100%;
}

#entry_amount {
    width: 100%;
    height: 30px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

#frequency-select {
    font-size: 0.9rem;
    width: 90px;
}

#add-btn {
    width: 100%;
    // this is set to 31px because at 30px the Description input pulls the bottom border up so it is off by 1px -- so this is a temporary fix until I find a better solution
    height: 31px;
    padding: 0;
}

input,
select {
    border-radius: 0.2rem;
}

.form-signin input[type="email"] {
    background-color: var(--dark-white);
    border-style: none;
}

.form-signin input[type="password"] {
    background-color: var(--dark-white);
    border-style: none;
}

.form-signin input[type="checkbox"] {
    background-color: var(--dark-white);
    border-style: none;
}

select#user_time_zone_id {
    width: 100%;
    padding: 10px;
    color: var(--dark-gray);
}

.entry-row {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: var(--dark-gray);

    td {
        cursor: pointer;

        &:not(.entry-actions-cell):hover {
            background-color: var(--lighter-green);
            color: #000;
        }

        &:nth-child(2) input {
            width: calc(100% - 35px);
        }

        input {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type="number"] {
                -moz-appearance: textfield;
                width: 83px;
            }

            &[type="date"] {
                font-size: 0.9rem;
                width: 110px;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    &__legal {
        margin-right: 51px;
    }
}

.form-signin {
    width: 100%;
    // max-width: 330px;
    margin: auto;
}

.form-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 1.5rem;
    width: 100vw;
}

.form-control {
    padding: 0.2rem 0.4rem;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    color: var(--dark-gray);
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    color: var(--dark-gray);
}

.btn-blu {
    background-color: #027ba7;
    border-color: #027ba7;
    color: #fff;
}

.btn-blu:hover {
    color: #fff;
    background-color: #3495b8;
    border-color: #3495b8;
}

.btn-gree {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: #fff;
}

.btn-gree:hover {
    color: #fff;
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.past-date {
    color: #a9a9a9;
}

.credit {
    color: var(--dark-green);
}

.in-the-red {
    color: #a70228;
}

.fa-square-check:hover {
    color: #99dbcc;
    font-weight: bold;
}

.fa-trash-alt:hover {
    color: #ca677e;
    font-weight: bold;
}

.fa-save {
    color: var(--dark-gray);
    font-size: 1rem;
}

.fa-save:hover {
    color: #99dbcc;
}

.copyright {
    color: #bbb;
}
