@import 'bootstrap';
@import 'font-awesome';

// body {
//   background-color: #edf8f5;
// }

// table {
//   background-color: #fff;
// }

html,
body {
  height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

td.entry-actions-cell {
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  background-color: #fff; // this needs to be transparent
}

th.top-row-cells {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

th.current-balance-label-cell {
  border-top-style: hidden;
  border-left-style: hidden;
}

.header-row {
  background-color: #F2F2F2;
}

.table-striped tbody tr.new-entry-row {
  background-color: #fff;
}

th input {
  width: 70px;
}