@import "bootstrap";
@import "bootstrap-select";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&family=Work+Sans:wght@400&family=Inter:wght@300&display=swap");

// * {
//   border: 1px solid lightgray;
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.header-footer {
  max-width: 1400px;
  padding-left: 115px;
  padding-right: 135px;
}

.ledger {
  max-width: 1400px;
  padding-left: 115px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-bordered tr th,
.table-bordered tr td {
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-top-style: hidden;
  border-left-style: hidden;
  padding: 0.75rem;
}

.table-bordered {
  border-style: none;
}

.btn-period {
  color: #bbc0c5;
  border-color: #dee2e6;
}

.btn-period:hover {
  color: #fff;
  background-color: #bbc0c5;
}

th.current-balance-label-cell {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

th#currentBalanceCell {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

th input {
  font-size: 1rem;
  width: 90px;
}

th.top-row-cells {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.table-bordered thead th.top-row-cells,
.table-bordered thead th.current-balance-label-cell {
  border-bottom-width: 0;
  border-right-width: 0;
}

.table-bordered thead th#currentBalanceCell {
  border-bottom-width: 0;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.table-bordered thead tr.header-row th {
  border-bottom-width: 1px;
  border-top: 1px solid #dee2e6;
}

.table-bordered thead tr.header-row th:first-child {
  border-left: 1px solid #dee2e6;
}

.table-striped tbody tr.new-entry-row {
  background-color: #fff;
}

.table-bordered tr.new-entry-row td:first-child {
  border-left-width: 1px;
}

.table-bordered tr td.date-col {
  border-left: 1px solid #dee2e6;
}

.header-row {
  background-color: #f2f2f2;
  font-size: 0.9rem;
}

.table-bordered thead tr.header-row th:first-child {
  border-top-left-radius: 0.4rem;
}

.table-bordered tbody.entries-table tr:last-child td:first-child {
  border-bottom-left-radius: 0.4rem;
}

.table-bordered tbody.entries-table tr:last-child td:nth-last-child(2) {
  border-bottom-right-radius: 0.4rem;
}

.table-bordered tr td.entry-actions-cell {
  border-right-style: hidden;
  border-bottom-style: hidden;
}

td.entry-actions-cell {
  background-color: #fff;
}

#currentBalSaveIcon {
  font-size: 1rem;
}

.date-col {
  width: 180px;
}

.short-col {
  width: 150px;
}

#entry_date {
  width: 100%;
  height: 30px;
}

#entry_description {
  width: 100%;
  height: 30px;
}

// this one can maybe be replaced with a bootbox
#entry_frequency {
  width: 100%;
  height: 30px;
}

#entry_amount {
  width: 100%;
  height: 30px;
}

#add-btn {
  width: 100%;
  // this is set to 31px because at 30px the Description input pulls the bottom border up so it is off by 1px -- so this is a temporary fix until I find a better solution
  height: 31px;
  padding: 0;
}

input,
select {
  border: 1px solid #dee2e6;
  border-radius: 0.2rem;
}

.entry-row {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.past-date {
  color: #a9a9a9;
}

.credit {
  color: #33aa33;
}

.in-the-red {
  color: #cc0000;
}

.navbar-brand {
  font-size: 2em;
}

.fa-check:hover {
  color: #00ff00;
}

.fa-trash-alt:hover {
  color: #ff3333;
  font-weight: bold;
}

.fa-save:hover {
  color: #00ff00;
}

.copyright {
  color: #bbc0c5;
}
